{% extends "client/base.twig" %}

{% block content %}
    <h3>¡Petición de recurso completada!</h3>
    {% if response.friends is defined %}
        <p>
            Has llamado con éxito a las APIs con tu Token de acceso. Aquí están tus amigos:
        </p>

        <ul>
            {% for friend in response.friends %}
                <li>{{ friend }}</li>
            {% endfor %}
        </ul>

        <p>Aquí está la respuesta completa en JSON: </p>

        <pre>{{ response|json_stringify }}</pre>
    {% else %}
        <h4>Respuesta:</h4>
        {% include 'client/_error.twig' %}
    {% endif %}

    <pre><code>  La llamada a la API puede verse en <a href="{{ resource_uri }}" target="_blank">{{resource_uri}}</a></code></pre>

    <a href="{{ path('homepage') }}">volver</a>
{% endblock %}
