<p>
    <strong>OpenID Connect</strong> es una forma especial de conseguir información sobre el usuario. Haz click en el botón de abajo para comenzar el flujo de OpenID. Empieza con una petición de autorización (como con el <code>Código de autorización</code>) pero con el parámetro <code>scope</code> incluyendo el valor <code>"openid"</code>.
</p>


<p>
    <a class="button" href="{{ app.parameters.authorize_route|slice(0, 4) == 'http' ? app.parameters.authorize_route : url(app.parameters.authorize_route) }}?response_type=code&client_id={{app.parameters.client_id}}&redirect_uri={{ url('authorize_redirect')|url_encode() }}&scope=openid&state={{session_id}}&nonce={{random()}}">Código de autorización</a>
    <div class="help">
        Usa la Concesión de Código de acceso y añade "openid" al parámetro de scope. El Token ID viene con el Token de Acceso.
    </div>
</p>

<p>
    <a class="button" href="{{ app.parameters.authorize_route|slice(0, 4) == 'http' ? app.parameters.authorize_route : url(app.parameters.authorize_route) }}?response_type=code%20id_token&client_id={{app.parameters.client_id}}&redirect_uri={{ url('authorize_redirect')|url_encode() }}&scope=openid&state={{session_id}}&nonce={{random()}}">Código de autorización + Token ID</a>
    <div class="help">
        Igual que arriba, pero con el "code id_token" en el response type. El Token ID viene con ya con el Código de autorización.
    </div>
</p>

<p>
    <a class="button" href="{{ app.parameters.authorize_route|slice(0, 4) == 'http' ? app.parameters.authorize_route : url(app.parameters.authorize_route) }}?response_type=token%20id_token&client_id={{app.parameters.client_id}}&redirect_uri={{ url('authorize_redirect_implicit')|url_encode() }}&scope=openid&state={{session_id}}&nonce={{random()}}">Implícito</a>
    <div class="help">
        Igual que arriba, pero con el "token id_token" en el response type. Similar al tipo de concesión <code>implícito</code>, pero volviendo un Token ID con el Token de acceso.
    </div>
</p>
