<p>
    El tipo de concesión de las <code>Credenciales de usuario</code> en los que se llama un "Two-Legged approach" que te permite
    obtener un <code>Token de acceso</code> a cambio de las credenciales del usuario final.
</p>

<p>
    El Servidor de OAuth2 soporta las siguientes credenciales:
</p>

<ul>
    <li><strong>Usuario</strong>: {{ app.parameters.user_credentials[0] }}</li>
    <li><strong>Contraseña</strong>: {{ app.parameters.user_credentials[1] }}</li>
</ul>

<p>Usa este comando cURL para recibir un Token de acceso:</p>

<pre><code>  $ curl -v "{{ app.parameters.token_route|slice(0, 4) == 'http' ? app.parameters.token_route : url(app.parameters.token_route) }}" \
    -d "grant_type=password&client_id={{app.parameters.client_id}}&client_secret={{app.parameters.client_secret}}&username={{app.parameters.user_credentials[0]}}&password={{ app.parameters.user_credentials[1] }}"
</code></pre>

<p>...o sencillamente haz click abajo para que lo hagamos por ti<p>

<a class="button" href="{{ url('request_token_with_usercredentials') }}?username={{app.parameters.user_credentials[0]}}&password={{ app.parameters.user_credentials[1] }}">Obtener Token de acceso</a>
