{% extends "server/base.twig" %}

{% block content %}
    <h3>
        ¡Bienvenido al Servidor de OAuth2.0!
    </h3>
    <p>
        <strong>{{client_id}}</strong> te ha mandado aquí.  {{client_id}} quiere acceso a los siguientes datos:
    </p>
    <ul>
        <li>amigos</li>
        <li>memorias</li>
        <li>esperanzas, sueños, pasiones, etc.</li>
        <li>cajón de los calcetines</li>
    </ul>
    <p>Y usará estos datos para:</p>
    <ul>
        <li>integrarse con amigos</li>
        <li>hacer tu vida mejor</li>
        <li>varios propósitos nefarios</li>
    </ul>
    <p>Haz click en el botón de abajo para completar la petición de autorización y conceder un <code>{{ response_type == 'code' ? 'Código de autorización' : 'Token de acceso' }}</code> a {{client_id}}.
    <ul class="authorize_options">
        <li>
            <form action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
                <input type="submit" class="button authorize" value="Sí, yo autorizo esta petición" />
                <input type="hidden" name="authorize" value="1" />
            </form>
        </li>
        <li class="cancel">
            <form id="cancel" action="{{ path('authorize_post') ~ '?' ~ app.request.queryString }}" method="post">
                <a href="#" onclick="document.getElementById('cancel').submit()">cancelar</a>
                <input type="hidden" name="authorize" value="0" />
            </form>
        </li>
    </ul>
{% endblock %}
